.palette {
    display: none;
    position: fixed;
    width: 500px;
    height: 600px;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 1px 10px 20px black;
    z-index: 1000;
}

.palette.open {
    display: block;
}

.input {
    width: 100%;
}